        <aside class="profile-menu">
            <h2>User Profile Menu</h2>
            <ul>
                <li><a href="/profile/overview"><b>Profile Overview</b></a></li>
                <li>&bull; <a href="/profile/avatar">Change Avatar</a></li>
                <li>&bull; <a href="/profile/change-password">Change Password</a></li>
                <li>&bull; <a href="/profile/dob">Edit Date of Birth</a></li>
                <li>&bull; <a href="/profile/email">Edit Email Address</a></li>
            </ul>
        </aside>