        <aside class="profile-menu">
            <h2>User Profile Menu</h2>
            <ul>
                <li><a href="/profile/overview"><b>Profile Overview</b></a></li>
                <li><a href="/profile/avatar">Change Avatar</a></li>
                <li><a href="#">Change Display Name</a></li>
                <li><a href="/profile/email">Change Email Address</a></li>
                <li><a href="/profile/change-password">Change Password</a></li>
                <li><a href="/profile/dob">Update Date of Birth</a></li>
            </ul>

            <h2>User Settings Menu</h2>
            <ul>
                <li><a href="#">Update Page Display</a></li>
                <li><a href="#">Update Time Zone</a></li>
            </ul>
        </aside>