{include file="global/header.html"}

    <div class="profile-container">
        {include file="profile/profile_menu.html"}

        <section class="profile-content">
            <h1>Change Email Address</h1>

            {if $error}
            <div class="alert alert-danger">
            {foreach $error as $err}
                {$err}
            {/foreach}
            </div>
            {/if}

            {if $success}
            <div class="alert alert-success">
                {$success}
            </div>
            {/if}

            <div class="alert alert-info">
                <b>Message:</b> Your email is <b>only used for account recovery and verification</b>.
            </div>

            <form method="post">
            <input type="hidden" name="csrf_token" value="{$csrf_token}">
                <label for="email">Email Address:</label>
                <input type="email" name="email" value="{$email}" required>
                <button type="submit" name="update_email">Update Email</button>
            </form>
        </section>
    </div>

{include file="global/footer.html"}
