{include file="global/header.html"}

    <div class="profile-container">
        {include file="profile/profile_menu.html"}

        <section class="profile-content">
            <h1>Change Password</h1>

            {if $error}
            <div class="alert alert-danger">
                {foreach $error as $err}
                    <b>Error:</b> {$err}
                {/foreach}
            </div>
            {/if}

            {if $success}
            <div class="alert alert-success">
                {$success}
            </div>
            {/if}

            <div class="alert alert-warning">
                <b>Warning:</b> Remember to write down your new password. Passwords are encrypted</b>.
            </div>

            <form method="post">
            <input type="hidden" name="csrf_token" value="{$csrf_token}">
                <label for="current_password">Current Password:</label>
                <input type="password" name="current_password" required>

                <label for="new_password">New Password:</label>
                <input type="password" name="new_password" required>

                <label for="confirm_password">Confirm New Password:</label>
                <input type="password" name="confirm_password" required>

                <button type="submit" name="update_password">Update Password</button>
            </form>
        </section>
    </div>

{include file="global/footer.html"}
