#
# This ignore file will block requested files from being committed.
# If something you don't want on GitHub, place it below.
#

# -------------------------
# ignore configuration file without the .dist
# keep security placeholder files
# -------------------------
/config/**
!/config/**/
!/config/**/config.php.dist
!/config/**/.htaccess
!/config/**/index.html

# -------------------------
# ignore tools folder
# -------------------------
/tools

# -------------------------
# storage/cache
# keep index.html files
# -------------------------
/storage/cache/**
!/storage/cache/**/
!/storage/cache/**/index.html

# -------------------------
# storage/cache/templates runtime metadata
# -------------------------
/storage/cache/templates/.template_config_hash

# -------------------------
# storage/logs
# keep index.html files
# -------------------------
/storage/logs/**
!/storage/logs/**/
!/storage/logs/**/index.html

# -------------------------
# json (keep index.html)
# -------------------------
/json/**
/json/**/*.json
!/json/**/
!/json/**/index.html

# -------------------------
# uploads/avatars (keep index.html)
# -------------------------
/uploads/avatars/**
!/uploads/avatars/**/
!/uploads/avatars/**/index.html

# -------------------------
# images (keep index.html, including /images/original/index.html)
# -------------------------
/images/**
!/images/**/
!/images/**/index.html
