#
# This ignore file will block requested files from being committed.
# If something you don't want on GitHub, place it below.
#

# -------------------------
# ignore configuration file without the .dist
# -------------------------
/config/**
!/config/**/
!/config/**/config.php.dist

# -------------------------
# ignore tools folder
# -------------------------
/tools

# -------------------------
# cache/templates (keep index.html)
# -------------------------
/cache/templates/**
!/cache/templates/**/
!/cache/templates/**/index.html

# -------------------------
# cache/images (keep index.html)
# -------------------------
/cache/images/**
!/cache/images/**/
!/cache/images/**/index.html

# -------------------------
# uploads/avatars (keep index.html)
# -------------------------
/uploads/avatars/**
!/uploads/avatars/**/
!/uploads/avatars/**/index.html

# -------------------------
# images (keep index.html, including /images/original/index.html)
# -------------------------
/images/**
!/images/**/
!/images/**/index.html