        <nav class="moderation-sidebar">
            <h3>Dashboard Menu</h3>
            <ul>
                <li><a href="/moderation">Dashboard</a></li>
            </ul>

            <div class="spacer"></div>

            <h3>Image Menu</h3>
            <ul>
                <li><a href="/moderation/image-pending">Pending</a></li>
                <li><a href="#">Reported</a></li>
            </ul>

            <div class="spacer"></div>

            <h3>Image Tools Menu</h3>
            <ul>
                <li><a href="/moderation/image-comparison">Comparison</a></li>
                <li><a href="#">Histogram</a></li>
                <li><a href="/moderation/image-rehash">Rehashing</a></li>
            </ul>

            <div class="spacer"></div>

            <h3>User Menu</h3>
            <ul>
                <li><a href="#">All Users</a></li>
                <li><a href="#">Pending</a></li>
                <li><a href="#">Suspended</a></li>
            </ul>

            <div class="spacer"></div>

            <h3>System Menu</h3>
            <ul>
                <li><a href="#">Sessions</a></li>
                <li><a href="#">Settings</a></li>
            </ul>
        </nav>