{include file="global/header.html"}
    {if $is_logged_in}
    <div class="gallery-actions-wrapper">
        <div class="gallery-actions">
            <a href="/upload-image" class="gallery-btn" title="Upload Image">
                <i class="fa-solid fa-upload"></i>
            </a>
            <a href="#" class="gallery-btn danger" title="File DMCA Report">
                <i class="fa-solid fa-file-circle-exclamation"></i>
            </a>
        </div>
    </div>
    {/if}
    <main class="gallery-container">
        {if !empty($images)}
            <div class="gallery-grid">
                {foreach $images as list($img_display_path, $img_url)}
                <div class="gallery-item">
                    <a href="{$img_url}">
                        <img src="{$img_display_path}">
                    </a>
                </div>
                {/foreach}
            </div>

            {if $pagination_prev || $pagination_next}
                <div class="gallery-pagination">
                    {if $pagination_prev}
                    <a href="{$pagination_prev}">Prev</a>
                    {/if}

                    {foreach $pagination_pages as list($page_url, $page_number, $current)}
                    <a href="{$page_url}" class="{if $current}current{/if}">
                        {$page_number}
                    </a>
                    {/foreach}

                    {if $pagination_next}
                    <a href="{$pagination_next}">Next</a>
                    {/if}
                </div>
            {/if}
        {else}
            <p style="text-align: center;">No images found or have not been approved yet!</p>
        {/if}
    </main>

{include file="global/footer.html"}
