        <nav class="moderation-sidebar">
            <h3>Dashboard Menu</h3>
            <ul>
                <li><a href="/moderation/dashboard">Dashboard</a></li>
            </ul>

            <div class="spacer"></div>

            <h3>Image Menu</h3>
            <ul>
                <li><a href="/moderation/image-pending">Pending</a></li>
                <li><a href="#">Reported</a></li>
                <li><a href="#">DMCA Reports</a></li>
            </ul>

            <div class="spacer"></div>

            <h3>Image Comments Menu</h3>
            <ul>
                <li><a href="#">Pending</a></li>
                <li><a href="#">Reported</a></li>
            </ul>

            <div class="spacer"></div>

            <h3>Image Tools Menu</h3>
            <ul>
                <li><a href="/moderation/image-comparison">Comparison</a></li>
                <li><a href="/moderation/image-rehash">Rehashing</a></li>
            </ul>
        </nav>
