{include file="global/header.html"}

    <main class="gallery-container-view">
        <div class="gallery-item-view moderation-layout">
            <div class="gallery-left-side">
                <div class="gallery-details-view moderation-menu">
                    {include file="moderation/moderation_menu.html"}
                </div>
            </div>

            <div class="gallery-image-wrapper moderation-dashboard">
                <h2>Moderation Dashboard</h2>

                <div class="dashboard-content-wrapper">
                    <div class="dashboard-cards-wrapper">
                        <div class="dashboard-label">Image Statistics</div>
                        <div class="dashboard-cards">
                            <div class="dashboard-card small">
                                <h3 class="total">Total Images</h3>
                                <p class="total">{$total_images}</p>
                            </div>

                            <div class="dashboard-card small">
                                <h3 class="approved">Approved</h3>
                                <p class="approved">{$approved_count}</p>
                            </div>

                            <div class="dashboard-card small">
                                <h3 class="pending">Pending</h3>
                                <p class="pending">{$pending_count}</p>
                            </div>

                            <div class="dashboard-card small">
                                <h3 class="removed">Deleted</h3>
                                <p class="removed">{$removed_count}</p>
                            </div>

                            <div class="dashboard-card small">
                                <h3 class="removed">Rejected</h3>
                                <p class="removed">{$rejected_count}</p>
                            </div>

                            <div class="dashboard-card small">
                                <h3 class="total">Combind Views</h3>
                                <p class="total">{$total_view_count}</p>
                            </div>

                            <div class="dashboard-card small">
                                <h3 class="total">Combind Likes</h3>
                                <p class="total">&nbsp;</p>
                            </div>
                            <div class="dashboard-card small">
                                <h3 class="total">Combind Favorites</h3>
                                <p class="total">&nbsp;</p>
                            </div>
                        </div>

                        <div class="dashboard-label">Storage Statistics</div>
                        <div class="dashboard-cards">
                            <div class="dashboard-card small">
                                <div class="dashboard-card storage-graph" style="--used-percent: {$storage_usage_percent};">
                                    <div class="progress-circle"></div>
                                    <div class="progress-text">
                                        {$storage_used} / {$storage_total}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

{include file="global/footer.html"}
